.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
::-webkit-scrollbar {display:none;}

.loading {
  background: url(loading.gif) 50% no-repeat;
}

body,html{
  overflow:hidden;
  height: 100%;
}
