div.background {
    padding: 10px 10px 10px 10px;
    overflow: auto;
    height: 76vh;
}
h1 {
    text-align: center;
    color: black;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
}
p {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
}